<app-nav></app-nav>
<div class="container-fluid">
    <div class="row justify-content-center mb-3">
        <button mat-flat-button color="primary" (click)="createTodo()">Add todo</button>
    </div>

    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-start flex-wrap">
            <mat-card *ngFor="let todo of todoDataService.todos; trackBy: trackByCreatedOn"
                      class="col-xl-auto col-lg-auto col-md-12 col-sm-12 card shadow-none m-1 min-width-20">
                <mat-card-header>
                    <mat-card-title><span class="mat-primary">{{todo.title | truncate:[25, '...']}}</span></mat-card-title>
                    <mat-card-subtitle>Date: {{todo.createdOn | date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    {{todo.text | truncate:[50, '...']}}
                </mat-card-content>
                <mat-card-actions>
                    <button class="position-relative d-inline-block" mat-button matSuffix mat-icon-button (click)="updateTodo(todo)">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button class="position-relative d-inline-block" mat-button matSuffix mat-icon-button (click)="deleteTodo(todo)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
