@import './src/assets/themes/default/variables';

.todo-input-card {
    max-width: 20rem;
}

.min-width-20 {
    min-width: 20rem;
}

::ng-deep .mat-card-title {
    color: $primary;
}

::ng-deep .mat-card-header-text {
    margin: 0 !important;
}

::ng-deep .mat-card-content {
    min-height: 3rem !important;
    white-space: pre-line !important;
}

::ng-deep .mat-card-actions {
    text-align: right !important;
}